<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

{{!-- Display data --}}
<div class="container p-2">
    <div class="content">
        <h3>Maintenance Requests</h3>
    </div>
    {{!-- Create table --}}
    <table id="maintenance-requests-table" class="table is-bordered is-striped is-fullwidth">
        {{!-- Table header --}}
        <thead>
            {{!-- Iterate over keys of the first row and print current key in header cell --}}
            <tr>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        {{!-- Table body --}}
        <tbody>
            {{!-- Citation for the following table:
                  Date: 11/15/23
                  Based on: nodejs-starter-app
                  Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%205%20-%20Adding%20New%20Data
            --}}
            {{!-- For each row, print the maintenance_request_ID, unit_ID, tenant_ID, description, date_submitted, time_to_complete, repair_cost, and is_closed --}}
            {{#each data}}
            <tr data-value={{this.maintenance_request_ID}}>
                <td>{{this.maintenance_request_ID}}</td>
                <td>{{this.unit_ID}}</td>
                <td>${{this.tenant_ID}}</td>
                <td>${{this.description}}</td>
                <td>${{this.date_submitted}}</td>
                <td>${{this.time_to_complete}}</td>
                <td>${{this.repair_cost}}</td>
                <td>${{this.is_closed}}</td>
                {{!-- Edit and delete buttons --}}
                <td>
                    <button onClick="update({{this.maintenance_request_ID}})">
                        <i class="fa-sharp fa-solid fa-pen-to-square"></i>
                    </button>
                </td>
                <td>
                    <button class="editButton" onclick="deleteMaintenaceRequest({{this.maintenance_request_ID}})">
                         <i class="fa-sharp fa-regular fa-trash-can"></i>
                    </button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{!-- Add new maintenance request --}}
<div class="container p-2">
    <div id="insert" style="display: block"></div>
        {{!-- Form to add a maintenance request --}}
        <form id="add-maintenance-request-form">
            <legend><strong>Add Maintenance Request</strong></legend>
            <fieldset class="fields p-2">
                <label for="input-unit-ID">Unit ID: </label>
                <option value=""></option>
                    {{#each data}}
                    <option value="{{this.unit_ID}}">{{this.unit_ID}}</option>
                    {{/each}}
                </select>
                <label for="input-tenant-ID">Tenant ID: </label>
                <option value=""></option>
                    {{#each data}}
                    <option value="{{this.tenant_ID}}">{{this.tenant_ID}}</option>
                    {{/each}}
                </select>
                <label for="input-description">Description of Problem: </label>
                <input type="text" name="input-description" id="input-description">
                <label for="input-date-submitted">Date Submitted: </label>
                <input type="date" name="input-date-submitted" id="input-date-submitted">
                <label for="input-time-to-complete">Time To Complete in Minutes: </label>
                <input type="number" name="input-time-to-complete" id="input-time-to-complete">
                <label for="input-repair-cost">Repair Cost: </label>
                <input type="number" name="input-repair-cost" id="input-repair-cost">
                <label for="input-is-closed">Is The Request Done: </label>
                <select class="select" name="input-is-closed" id="input-is-closed" required>
                    <option value="blank"></option>
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                </select>
            </fieldset>
            <input class="button is-black is-small" type="submit" id="addMaintenanceRequest" value="Add Maintenance Request">
            <input class="button is-black is-small" type="button" value="Cancel" onClick="resetForm()">
        </form>
    </div>
</div>

{{!-- Update data  --}}
<div class="container p-2">
    <div id="update" style="display: block">
        <form id="updateMaintenanceRequest">
            <legend><strong>Update Maintenance Request</strong></legend>
            <fieldset class="fields p-2">
            <label for="maintenance-request-ID">Maintenance Request ID: </label>
            <option value=""></option>
                    {{#each data}}
                    <option value="{{this.maintenance_request_ID}}">{{this.maintenance_request_ID}}</option>
                    {{/each}}
                </select>
              <label for="unit-ID">Unit ID: </label>
              <select class="select" name="unit-ID" id="unit-ID">
                    <option value=""></option>
                    {{#each data}}
                    <option value="{{this.unit_ID}}">{{this.unit_ID}}</option>
                    {{/each}}
                </select>
                <label for="tenant-ID">Tenant ID: </label>
                <select class="select" name="tenant-ID" id="tenant-ID">
                    <option value=""></option>
                    {{#each data}}
                    <option value="{{this.tenant_ID}}">{{this.tenant_ID}}</option>
                    {{/each}}
                </select>
                <label for="description">Description of Problem:</label>
                <input type="text" name="description" id="description" value="{{updatedData.description}}">
                <label for="date-submitted">Date Submitted: </label>
                <input type="date" name="date-submitted" id="date-submitted" value="{{updatedData.date_submitted}}">
                <label for="time-to-complete">Time to Complete in Minutes:</label>
                <input type="number" name="time-to-complete" id="time-to-complete" value="{{updatedData.time_to_complete}}">
                <label for="repair_cost">Repair Cost:</label>
                <input type="text" name="repair-cost" id="repair-cost" value="{{updatedData.repair_cost}}">
                <select class="select" name="is-closed" id="is-closed" required>
                    <option value=""></option>
                    {{#each updatedData}}
                    <option value="{{this}}" {{#if (eq updatedData.is_closed this)}} selected {{/if}}>
                        {{this}}
                    </option>
                    {{/each}}
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                </select>
            </fieldset>
            <input class="button is-black is-small" type="submit" id="update-provided-utility" value="Update Maintenance Request">
            <input class="button is-black is-small" type="button" value="Cancel" onclick="resetForm()">
        </form>
    </div>
</div>
<script src="../public/js/delete_maintenance_request.js"></script>
<script src="../public/js/update_maintenance_request.js"></script>
<script src="../public/js/add_maintenance_request.js"></script>
